<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="admin-person/" class="nav-link px-2 text-white">admin</a></li>
          <li><a href="time/" class="nav-link px-2 text-white">Филиалы</a></li>
        </ul>

        {% if user.is_authenticated %}
        <div class="text-end">
        <a href="{% url 'logout'%}"><button type="button" class="btn btn-warning">выйти</button></a>
        <a href='/accounts/profile/'><button type='button' class="btn btn-warning">профиль</button></a>
        {% else %}
        <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light me-2">войти</button></a>
        </div>
        {% endif %}
      </div>
    </div>
  </header>